qualification_detector_node:
  ros__parameters:
    # Color
    orange_lower: [0, 20, 40]
    orange_upper: [35, 255, 255]
    min_area: 300
    publish_debug: true

qualification_navigator_node:
  ros__parameters:
    mission_depth: -0.8
    
    # Distance to switch to Blind Heading Lock
    # 1.8m: Close enough to be accurate, far enough to still see gate
    passing_trigger_dist: 1.8
    
    # Speeds
    search_speed: 0.4
    passing_speed: 0.8  # Fast speed for stability during lock
    
    # Anti-Surfacing U-Turn
    uturn_speed: 0.12        
    uturn_depth_bias: -0.4